.vscode/settings.json
brick-camp.code-workspace
data/brick-camp/*
!data/brick-camp/*.sh
data/form-files/**
data/tntsearch/**
pages/images/tax-part/**
!pages/images/tax-part/dummy.md
!pages/images/tax-part/.gitkeep
pages/23.part/**
!pages/23.part/dummy.md