{% extends 'partials/base.html.twig' %}
{# Adapt introduction to current filter (if enabled) #}
{% if page.header.filter_title %}
    {% set params = uri.params(null, true) %}
    {% do dump(params) %}
    {% if params|length == 1 %}
        {% set filter_tax = params|keys|first %}
        {% set filter_term = params|first %}
        {% set page_title = filter_tax|humanize ~ ': ' ~ brick_term_title(filter_tax, filter_term) %}
        {% if page.header.filter_icon %}
            {% set page_icon = brick_term_image(filter_tax, filter_term) %}
        {% endif %}
    {% endif %}
{% endif %}

{% set items = page.collection() %}
{% block content %}
    {# Filter #}
    {% if page.header.filter %}
        <div class="mb-2 mt-1">
            {% include "forms/form.html.twig" with { form: forms(page.header.filter) } %}
        </div>
    {% endif %}

    {# Collection Items #}
    {% block items %}
        {% include 'partials/items/base.html.twig' with { 'items': items } %}
    {% endblock %}

    {# Pagination #}
    {% if config.plugins.pagination.enabled and items.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}
{% endblock content %}