{% extends 'partials/single/base.html.twig' %}

{% block single_content %}

    <div class="text-center col-10 col-sm-12 col-md-9 col-lg-8 mx-auto">
        {{ content|raw }}
    </div>

    {% include "forms/form.html.twig" %}

{% endblock %}