<section id="{{ items_section_id ?: "items" }}" class="row justify-content-center">
    {% for i in items %}
        {% if not i.slug %}
            {# translate search result to page object #}
            {% set item = pages.find(i.link) %}
        {% else %}
            {% set item = i %}
        {% endif %}

        {% block item %}
            {% switch item.template %}
                {% case "collection" %}
                    {% include 'partials/item/collection.html.twig' with {'page': item, 'item_size': item_size} %} 
                {% default %}
                    {% include 'partials/item/base.html.twig' with {'page': item, 'item_size': item_size} %}             
            {% endswitch %}
        {% endblock %}
    {% endfor %}
</section>