{% extends 'partials/base.html.twig' %}


{% if page.header.content.visible is defined %}
    {% set collection = page.header.content.visible ? page.collection().visible() : page.collection().invisible() %}
{% else %}
    {% set collection = page.collection() %}
{% endif %}


{% block content %}

    <figure id="items-image"> 
    {% block items_image %}
        {% if page.header.image %}
            <img src="{{ page.media[page.header.image].cropResize(300, 300).url }}" width="100%" height="100%" alt="{{ page.title }}">
        {% endif %}
    {% endblock %}
    </figure>

    <header id="items-header">
    {% block items_header %}
        {{ page.content }}
    {% endblock %}
    </header>

    <section id="items" class="pure-g">
    {% block items %}
        {% for post in collection %}
            {% block item %}
                {% include 'partials/item/base.html.twig' with {'post': post}%} 
            {% endblock %}
        {% endfor %}
    {% endblock %}
    </section>

    <footer id="items-footer">
    {% block items_footer %}
    {% endblock %}
    </footer>

{% endblock %}