Hi BrickCamp,<br/> 
<br/>
I want to submit the following entry to the website: <br/>
<br/>
{% include 'partials/mail/data.html.twig' %}
<br/>
This message was sent via <a href="https://brick.camp/">a form on BrickCamp</a>.<br/>
<br/>
Greetings<br/>
The BrickCamp Form Bot