<!doctype html>
<html class="h-100" 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:fb="http://ogp.me/ns/fb#" 
    lang="en">
<head>
    {% include "partials/head.html.twig" %}
</head>

<body class="d-flex flex-column h-100 lang-{{ grav.language.getActive }}">
{% block body %}
    {% include "partials/header.html.twig" %}

    <main id="content" class="flex-shrink-0 mb-4 {{ content_vertical_center ? 'mt-auto' }}" role="main">
        {% include "partials/intro.html.twig" %}
        
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    {% include "partials/footer.html.twig" %}
{% endblock body %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock bottom %}
</body>
</html>