<div id="intro" class="text-center text-dark mt-2 mb-3">
{% block intro %}
    <div class="container">
        {% set page_icon = page_icon ?: value %}

        {% if not page_icon and page.header.icon %}
            {% set page_icon = page.media[page.header.icon] %}
        {% endif %}
        {{ page_icon ? page_icon.resize(150,150).html( page.title, page.title, 'rounded bg-white border' )|raw }}

        {% if not page.header.title_hidden %}
            <h1 class="mb-0">{{ page_title ?: page.title }}</h1>
        {% endif %}

        {% if page_subtitle or page.header.subtitle %}
            <p class="h3 text-center text-muted">{{ page_subtitle ?: page.header.subtitle }}</p>
        {% endif %}

        {# if page.collection()|length > 0 %}
            {# If collection is paginated, count all entries - else keep limit #}
            {# set items = page.header.content.pagination ? page.collection('content', false) : page.collection() %}
            <em class="count">{{ items|length|number_format(0, ',', '.') }} Entries</em>
        {% endif #}
    </div>
{% endblock %}
</div>